# docker defaults
UID=1000
GID=1000

# db
POSTGRES_USER=cc_admin
POSTGRES_PASSWORD=cc_password
POSTGRES_DB=cc_web

# backend
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=thisisthegreatestsecretofalltime
DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_NAME=cc_web
DJANGO_DB_USER=cc_admin
DJANGO_DB_PASSWORD=cc_password
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432

DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0
DJANGO_CORS_ORIGIN_WHITELIST=http://localhost http://127.0.0.1 http://0.0.0.0
DJANGO_CAS_CLIENT_URL=http://localhost:3000

# frontend
REACT_APP_HOST_IP_ADDRESS=http://localhost:3000

# mailing
AD_TENANT_ID=xxxx-xxxxx-xxxxx-xxxx
AD_CLIENT_ID=xxxx-xxxxx-xxxxx-xxxx
AD_CLIENT_SECRET=xxxx-xxxxx-xxxxx-xxxx
AD_CLIENT_EMAIL=user@iiit.ac.in
