[submodule "frontend"]
	path = frontend
	url = https://github.com/Clubs-Council-IIITH/frontend.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/Clubs-Council-IIITH/backend.git
	branch = master
